<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body>
<div id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="/home">
                    <img src="img/companyLogos/BynLogo2.png" class="logoimg">
                </a>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">Byn</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/host">Become A Host</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Bookings</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Messages</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" style="color: #ff5e61" href="/profile">Profile</a>
                    </li>
                    <!-- <li>
                        <img src="img/icons/user.jpg" width="40px" height="40px">
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

     <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome Back To Byn</div>
                <div class="intro-heading">A New Way To Store</div>
                <form class="input-group input-group-lg" style="display: block" action="/search" method="post">
                    <input id="geocomplete" type="text" class="form-control" placeholder="Where?" name="where" aria-describedby="sizing-addon1" style="display: inline-block; width: 35%; margin-left: 15%;">
                    <input id="daterange" type="text" class="form-control customBorderRadius" placeholder="When?" name="when" aria-describedby="sizing-addon1" style="display: inline-block; width: 35%; margin-right: 15%;">
                <br><br><br><br>
                <input class="page-scroll btn btn-xl" type="submit" value="Find A Byn"></input>
                </form>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/host1" class="btn btn-xl">
                        <span class="service-heading" style="white-space: normal;">Become A Host</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/profile" class="btn btn-xl">
                        <span class="service-heading">My Bookings</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/profile" class="btn btn-xl">
                        <span class="service-heading">Messages</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Questions? Concerns? Check out our FAQ or drop us a message below!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" style="white-space: normal;">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li><a href="/faq" style="margin-right: 10px">FAQ</a>
                        </li>
                        <li><a href="/howtorent" style="margin-right: 10px">How To Rent</a>
                        </li>
                        <li><a href="/howtohost" style="margin-right: 10px">How To Host</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline quicklinks">
                        <li><a href="/aboutus" style="margin-right: 10px">About Us</a>
                        </li>
                        <li><a href="/privacypolicy" style="margin-right: 10px">Privacy Policy</a>
                        </li>
                        <li><a href="/termsofuse" style="margin-right: 10px">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; Byn Storage 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Geocomplete -->
    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCinPgLpBRlw5s2-NoI8s5cgyEMR30mkcU&libraries=places"></script> -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->

    <script src="./js/jquery.geocomplete.js"></script>

    <!-- Moment JS for Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <!-- Date Range Picker -->
    <script type="text/javascript">
    $(function() {

        $("#daterange").daterangepicker({
          autoUpdateInput: false,
          locale: {
              cancelLabel: 'Clear'
          },
          applyClass: 'btn-default',
          opens: 'center'
      });

      $("#daterange").on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      });

      $("#daterange").on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
      });

  });
    </script>

    <!-- Autofill Location Search -->

    <script>
      $(function(){

        console.log('test')
        
        $("#geocomplete").geocomplete()
          .bind("geocode:result", function(event, result){
            $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
        
        
        $("#examples a").click(function(){
          $("#geocomplete").val($(this).text()).trigger("geocode");
          return false;
        });
        
      });
    </script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>
</div>
</body>

</html>
